@use '../../../styles/partials/partials';



h3.next-header {
    @include partials.heading;
    padding-left: 1rem;
    font-weight: 500;
}

.video-section {
    display: flex;
    @include partials.padding;

    .next-video__image {
        height: 5.625rem;
        width: 6.875rem;
        border-radius: 8%;
        float: left;
    }

    .next-video__element {
        margin-left: .625rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h4 {
            margin-bottom: 0;
            margin-top: 0;
            font-weight: bold;
        }

        .video-channel {
            font-weight: 100;
        }
    }
}

@media screen  and (min-width: 768px) {

    h3.next-header {
        padding-left: 5vw;
    }

    .video-section {
        
        padding-left: 5vw;
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;

        h4 {
            width: 25vw;
        }
    }
}

@media  screen and (min-width: 1280px) {

    .video-section {
        h4 {
            width: 15vw;
        }
        
    }

    .breakpoint-next__videos {
        border-left: 1px solid  #E1E1E1;
    }
}