@mixin avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
@mixin heading {
    color: #AFAFAF;
}

@mixin padding {
    padding: 5vw;

}

@mixin button {
    background-repeat: no-repeat;
    background-position: left center;
    background-color: #0095FF;
    color: #FFFFFF;
}