@mixin breakpoint($point) {
    @if $point == tablet {
        @media (min-width: 768px) { @content; }
    }
    @else if $point == desktop {
        @media (min-width: 1280px) { @content; }
    }
}


// $breakpoints: (
//     'tablet': 767px,
//     'desktop': 1280px,
// )   !default;

// @mixin respond-to($breakpoint) {
//     // If the key exists in the map
//     @if map-has-key($breakpoints, $breakpoint) {
//       // Prints a media query based on the value
//       @media (min-width: map-get($breakpoints, $breakpoint)) {
//         body {
//             background-color: red;
//         }
//       }
//     }
   
//     // If the key doesn't exist in the map
//     @else {
//       @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
//           + "Available breakpoints are: #{map-keys($breakpoints)}.";
//     }
//   }

@mixin avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
@mixin heading {
    color: #AFAFAF;
}

@mixin padding {
    padding: 5vw;

}

@mixin button {
    background-repeat: no-repeat;
    background-position: left 3% center;
    background-color: #0095FF;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@mixin input {
    background-color: #E1E1E1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-position: left .5% center;
    border-radius: 5px;
}

