@use '../../styles/partials/_partials';


.container-image {
    object-fit: contain;
    width: 100vw;
    height: 20%;
}

.image_Red-Cow {
    width: 100%;
    height: 100%;  
    
}

.container-commenter {
    @include partials.padding;
}

.video-commentary {
    @include partials.padding;

    p {
        margin: 0;
    }
}

.newCommentSection {
    @include partials.padding;

    .button {
        @include partials.button;
        background-image: url(../../assets/images/add_comment.svg);
    }
}

.divider {
    border-bottom:  1px solid #E1E1E1;
    width:  90vw;
    height: 1px;
    margin: 0px auto;
}
    
.avatar {
    @include partials.avatar;

}

h3.nextHeader {
    @include partials.heading;
}

.commentSection {
    @include partials.padding;
}


.videoSection {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    @include partials.padding;


    .nextVideoDiv {
        height: 80%;
    }
    
    .nextVideoImage {
        height: 100%;
        width: 40%;
        border-radius: 8%;
        float: left;
    }

    .nextVideoElement {
       
    }
}


