@use '../../styles/partials/_partials';



h3.nextHeader {
    @include partials.heading;
    padding-left: 16px;
    font-weight: 500;
}

.videoSection {
    display: flex;
    @include partials.padding;

    .nextVideoImage {
        height: 90px;
        width: 110px;
        border-radius: 8%;
        float: left;
    }

    .nextVideoElement {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h4 {
            margin-bottom: 0;
            margin-top: 0;
            font-weight: bold;
        }

        .video-channel {
            font-weight: 100;
        }
    }
}

@media screen  and (min-width: 768px) {

    .videoSection {
        padding: 2vw;

        h4 {
            width: 25vw;
        }
    }
}