@use '../../../styles/partials/_partials';
@use '../../../styles/partials/_typography';
@import '../../../styles/partials/_colors';

.NavBar {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding: 5vw;

    input {
        @include partials.input;
        width: 68vw;
        height: 2.188rem;
        background-image: url(../../../assets/images/search.svg);
        background-repeat: no-repeat;
        padding-left: .625rem;
        background-origin: content-box;   
    }

    input::placeholder {
        color: $primary-black;
        padding-left: 30px;
    }

    .logo-header {
        height: 1.563rem;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .938rem;
        margin-top: .375rem;
    }

    .avatar {      
        @include partials.avatar;
        float: right;
    }

    .avatar-div {
        width: 15vw;
    }

    button {
        @include partials.button;
        width: 90vw;
        background-image: url(../../../assets/images/upload.svg);
    }

    button:hover {
        background-color: $secondary-darkblue;
    }
}

h1 {
    padding: 0 5vw;
}

@media screen  and (min-width: 768px) {
    
    .NavBar {
        flex-wrap: nowrap;
        padding: 0;
        padding-left: 5vw;
        padding-top: 2vw;
        padding-bottom: 0;
        width: 95vw;

            .logo-header {
                width: 7.063rem;
                margin-right: 3.125rem;
            }

            input {
                width: 25vw;
            }

            button {
                width: 25vw;
            }

            .avatar-div {
                order: 4;
                padding-right: 5vw;
            }

            .search-bar {
                margin-left: 5vw;
            }

            .upload-bar {
                margin-left: 5vw;
                
                button {
                    margin-top: 0;
                }
            }
        }  
}

@media screen  and (min-width: 1280px) {

    .NavBar {
        display: flex;
        justify-content: flex-end;

        input {
            width: 17vw;
        }

        button {
            width: 10vw;
        }

        .logo-div {
            width: 40vw;
        }

        .search-bar {
            width: 17vw;
        }

        .upload-bar {
            width: 13vw;
        }
        .avatar-div {
            width: 8vw;
        }

    }

    
}
