@use  '../../styles/partials/_partials';
@use '../../styles/partials/_typography';
@import '../../styles/partials/_colors';

.upload-section {
    padding: 5vw;
    
    @include partials.breakpoint(tablet) {
        width: 91vw;
    }  

    @include partials.breakpoint(desktop) {
        padding:  3vw 9vw;
    } 

    h1 {
        padding: 0;
    }
    h5 {
        margin-bottom: .2rem;
        color: $secondary-mercury;
        font-weight: 400;
    }
}

.divider-header__breakpoint {
    @include partials.breakpoint(mobile){
        @include partials.divider;
    }
    
    @include partials.breakpoint(tablet) {
        @include partials.divider;
    }

    @include partials.breakpoint(desktop) {
        @include partials.divider;
    }
}

.divider-mobile__breakpoint {
    @include partials.breakpoint(mobile) {
        display: none;
    }

    @include partials.breakpoint(tablet) {
        @include partials.divider;
        width: 90vw;
    }

    @include partials.breakpoint(desktop) {
        @include partials.divider;
        width: 100%;
    }
}

.upload-bar {
    @include partials.breakpoint(mobile) {
    }
}

input {
    @include partials.input;
    width: 90vw;
    height: 50px;
    
    .video-title__input {
        width: 90vw;
    }
}

.publish-button {
    button {
        @include partials.button;
        width: 90vw;
        background-image: url(../../assets/images//publish.svg);

        button:hover {
            background-color: $secondary-darkblue;
        }

        @include partials.breakpoint(tablet) {
            width: 25vw;
        }

        @include partials.breakpoint(desktop) {
            width: 15vw;
        }
    }
}

.cancel-button {
    button {
        background-repeat: no-repeat;
        background-position: left 3% center;
        background-color: $primary-white;
        color: $primary-blue;
        width: 90vw;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        text-align: center;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;

        @include partials.breakpoint(tablet) {
            width: 25vw;
        }

        @include partials.breakpoint(desktop) {
            width: 15vw;
        }
    }
}

.video-image__div {
    object-fit: contain;
    width: 90vw;
    height: 25%;

    @include partials.breakpoint(desktop){
        width: 40%;
        height: 90%;
    }

    .video-thumbnail {
        width: 100%;
        height: 25%; 
        border-radius: 5px;

        @include partials.breakpoint(tablet){
            width: 50%;
        }

        @include partials.breakpoint(desktop){
            width: 95%;
        }
    }
}

.video-title__input {
    @include partials.breakpoint(desktop){
        width: 100%;
    }
}

.text-description {
    @include partials.input;
    width: 90vw;
    height: 16vh;
    
    @include partials.breakpoint(desktop){
        width: 100%;
    }
}

.video-description {
    @include partials.breakpoint(desktop){
        margin-bottom: .825rem;
    }
}

.video-details__input {
    @include partials.breakpoint(desktop){
        width: 65%;
    }
}

.upload-breakpoint__desktop {
    @include partials.breakpoint(desktop){
        display: flex;
        // padding-bottom: 5px;
    }
}

.button-breakpoint__div {
    @include partials.breakpoint(tablet) {
        display: flex;
        flex-direction: row-reverse;
    }

    @include partials.breakpoint(desktop) {
        display: flex;
        flex-direction: row-reverse;
    }
}

.success-button {
    margin-top: 2rem;

    button {
        @include partials.button; 
        width: 90vw;
        font-weight: bold;
    }
}
