@use  '../../styles/partials/_partials';

.new-comment__section {
    @include partials.padding;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 90vw;
    

    .avatar-div {
        height: 100%;

        .avatar-mohan {
            @include partials.avatar;
            margin-top: 20px;
        }
    }

    .commentor-box {
        display: flex;
    }

    .next-header {
        @include partials.heading;
        height: 35px;
    }

    .next-header__intro {
        margin-bottom: 2px;
        font-size: 12px;
        padding-left: 65px;
    }

    .button-comment {
        margin-left: 60px;
        
        button {
            @include partials.button;
            background-image: url(../../assets/images/add_comment.svg);
            width: 70vw;
        }

    }

    input {
        @include partials.input;
        width: 70vw;
        height: 140px;
    }
    
    .new-comment__input {
        margin-left: 22px;
    }

}

.comment-section {
    display: flex;
    margin: 15px;

    h4 {
        margin: 0;
    }

    .empty-avatar {
        margin-top: 25px;
        margin-right: 10px;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-color: #E1E1E1;
    }

    .comment-name__date {
        display: flex;
        justify-content: space-between;
    }

    .comment-timestamp {
        font-weight: 100;
        color: #AFAFAF;
    }
}