@use  '../../styles/partials/_partials';

.new-comment__section {
    @include partials.padding;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 90vw;
    
    .avatar-mohan {
        @include partials.avatar;
        margin-bottom: 40px;
    }

    .next-header {
        height: 35px;
    }

    .next-header__intro {
        @include partials.heading;
        margin-bottom: 2px;
        font-size: 12px;
        padding-left: 65px;
    }

    .button-comment {
        margin-left: 60px;
        
        button {
            @include partials.button;
            background-image: url(../../assets/images/add_comment.svg);
            width: 70vw;
        }

        button:hover {
            background-color: #0065AD;
        }

    }

    input {
        @include partials.input;
        width: 70vw;
        height: 140px;
    }

    input::placeholder {
        color: #323232;
        background-origin: border-box;
        background-position: center top;
    }
    
    .new-comment__input {
        margin-left: 22px;
    }

}

.comment-section {
    display: flex;
    margin: 15px;

    h4 {
        margin: 0;
    }

    .empty-avatar {
        margin-top: 25px;
        margin-right: 10px;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-color: #E1E1E1;
    }

    .comment-name__date {
        display: flex;
        justify-content: space-between;
    }

    .comment-timestamp {
        font-weight: 100;
        color: #AFAFAF;
    }
}

@media screen  and (min-width: 768px) {

    h1 {
        padding-left: 4vw;
    }

    .new-comment__section {
        width: 93vw;
        display:flex;
        flex-flow: row;
        padding-top: 0;
        padding-bottom: 2vw;

        .next-header__intro {
            padding-left: 7vw;
        }

        .avatar-mohan {
            margin-bottom: 0;
        }

        input {
            @include partials.input;
            width: 56vw;
            height: 35px;
        }
        

        .button-comment {
            padding-top: 18px;
            margin-left: 5vw;
            

            
            button {
                width: 22vw;
            }
        }
    }

    .comment-section {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}
